<td><a href="{{ path('users_newsletter_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
<td>{{ entity.nombre }}</td>
<td>{{ entity.email }}</td>
<td>
    {% if entity.isActive %}
        <i class="fa fa-check-circle"></i>
    {% else %}
        <i class="fa fa-circle"></i>
    {% endif %}
</td>
<td>
    <button onclick="javascript:editarRegistro('{{ path('users_newsletter_edit', { 'id': entity.id }) }}')" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </button>
    <button onclick="javascript:editarRegistro('{{ path('users_newsletter_show', { 'id': entity.id }) }}', '#registro-{{entity.id}}')" class="btn btn-xs btn-info"><i class="fa fa-folder-open"></i> </button>
    {% if entity.isActive == false %}
        <button onclick="javascript:activarRegistro('{{ path('users_newsletter_actualizar', { 'id': entity.id }) }}', '#registro-{{entity.id}}')" class="btn btn-xs btn-success"><i class="fa fa-check"></i> </button>
    {% else %}
        <button onclick="javascript:inactivarRegistro('{{ path('users_newsletter_actualizar', { 'id': entity.id }) }}', '#registro-{{entity.id}}')" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </button>
    {% endif %}
</td>
