{% if error is not defined %}
    {% set error=false %}
{% endif %}
    
{% if ok is not defined %}
    {% set ok=false %}
{% endif %}
    
{% if mensaje is not defined %}
    {% set mensaje="" %}
{% endif %}

<div id="formulario_contacto">
     <form onsubmit="return false;" action="{{path('frontend_contacto')}}" method="post" class="form-contacto {% if error == true %}invalid{% endif %} {% if ok == true %}sent{% endif %}" novalidate="novalidate" role="form">
          <div class="form-group">
             <label for="contacto_name">{{"nombre"|trans}}</label>
             {{ form_widget(form.name, {'attr': {'class': 'form-control','placeholder':'nombre'|trans }}) }}
             <span class="errores"> 
                 {{ form_errors(form.name) }}
             </span>
         </div>
         <div class="form-group">
             <label for="contacto_email">{{"email"|trans}}</label>
                 {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'email'|trans}}) }}
             <span class="errores"> 
                 {{ form_errors(form.email) }}
             </span>
         </div>
          <div class="form-group">
             <label for="contacto_subject">{{"asunto"|trans}}</label>
                 {{ form_widget(form.subject, {'attr': {'class': 'form-control','placeholder':'asunto'|trans }}) }}
             <span class="errores"> 
                 {{ form_errors(form.subject) }}
             </span>
         </div>
         <div class="form-group">
             <label for="contacto_telefono">{{"teléfono"|trans}}</label>
                 {{ form_widget(form.telefono, {'attr': {'class': 'form-control','placeholder':'teléfono'|trans }}) }}
             <span class="errores"> 
                 {{ form_errors(form.telefono) }}
             </span>
         </div>    
         <div class="form-group">
             <label for="contacto_body">{{"mensaje"|trans}}</label>
                 {{ form_widget(form.body, {'attr': {'class': 'form-control','placeholder':'mensaje'|trans }}) }}
             <span class="errores"> 
                 {{ form_errors(form.body) }}
             </span>
         </div> 
         <div class="form-group">
             <input type="submit" value="{{"Enviar"|trans}}" class="form-contacto-control form-submit btn btn-info" style="font-size: 16px; padding: 5px 40px; float: right;">
             <img class="ajax-loader" src="/images/bx_loader.gif" alt="Enviando ..." style="visibility: hidden;">
         </div>
         {% if ok == true and error == false%}    
         <div class="form-response-output form-mail-sent-ok">
             {{mensaje}}
         </div>
         {% elseif ok == false and error == true %}
         <div class="form-response-output form-mail-sent-ng form-validation-errors">
             {{mensaje}}{{form_errors(form)}}
         </div>    
         {% else %}
         <div class="form-response-output">
             {{mensaje}}
         </div>    
         {% endif %}    
         {{ form_rest(form) }}    
     </form>
 </div>
<script type='text/javascript'>
$(document).on('ready',function() {   
    iniciarlizarFormContacto();
});
</script>