{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}">
    <style>
    .bx-wrapper .bx-viewport{
        padding: 0px;
        border: none;
        top: 0px;
        left: 0px;
    }
    </style>
{% endblock %}

{% block header_class 'inicio' %}

{% block contenido %}
            <div class="cotizador-promociones">
                <div class="cotizador-linea">
                    <a href="{{path('frontend_cotizador')}}" style="color: white;">
                        {{"Visite nuestro cotizador en linea"|trans}}
                    </a>
                </div>
                <div class="newsletter">
                    {{"Reciba ofertas y promociones en su correo"|trans}}
                    <span class="newsletter-correo"></span>
                </div>
            </div>
            <article class="destinos-eventos">
                <div class="destinos">
                    <span class="titulo">{{"destinos"|trans}}</span>
                    <ul class="sliderDestinos">
                        {% for categoria in categoriasPublicacion if categoria.slug == "destinos" %}
                            {% for publicacion in categoria.publicaciones %}
                            <li>
                                <img src="{{ publicacion.webPath | apply_filter('publicaciones_carrusel')  }}" title="{{ publicacion.titulo(locale)}}">
                            </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="eventos">
                    <span class="titulo">{{"eventos"|trans}}</span>
                    <ul class="sliderEventos">
                        {% for categoria in categoriasPublicacion if categoria.slug == "eventos" %}
                            {% for publicacion in categoria.publicaciones %}
                            <li>
                                <img src="{{ publicacion.webPath | apply_filter('publicaciones_carrusel')  }}" title="{{ publicacion.titulo(locale  )}}">
                            </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </article>
            <article class="twitters">
                {% render(controller("FrontendBundle:Default:lastTweets",{'username': 'TurismoPlusMG'})) %}
                <div class="experiencias">
                    <span class="titulo-experiencias">{{"Experiencias MG"|trans}}</span>
                    <div class="contenedor-experiencias">
                        {% set experiencia = experiencias[0] %}
                        <div class="experiencia  active ">
                            <!--p class="contenido-experiencia"-->
                                {{experiencia.contenido(locale) | raw }}
                            <!--/p-->
                            <span class="autor-experiencia">
                                -{{experiencia.autor}}
                            </span>
                        </div>

                    </div>
                </div>
            </article>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/jquery.bxslider.js')}}"></script>
<script src="{{asset('js/main.js')}}"></script>
<script>
    $(document).on("ready",function(){
        setTimeout(function(){
            iniciarCircle();
        },6000);

        $('.sliderDestinos,.sliderEventos').bxSlider({
            mode: 'fade',
            captions: true,
            randomStart: false,
            pager: false,
            auto: true,
            controls: false,
            speed: 4000,
        });
        
        


    });
    var iniciarCircle=function(){
        $('ul.twitter-feed li:first-child').slideUp("slow",function(){
            $('ul.twitter-feed').append($(this).slideDown("fast"));
        });
                 
        setTimeout(function(){
            iniciarCircle();
        },6000);
                    
    }
    
</script>
{% endblock %}

