{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}">
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
    <style>
    .bx-wrapper .bx-viewport{
        padding: 0px;
        border: none;
        top: 0px;
        left: 0px;
        background: transparent;
    }
    </style>
{% endblock %}

{% block extra_header %}
    <div class="container-extra-header" style="height:90px;">
    </div>
{% endblock %}

{% block contenido %}
        <article class="servicios">
            <div class="galeria">
                <ul class="galeriaContenedor">
                    {% if servicios is null %}
                        {% for galeria in range(1,7) %}
                        <li><a href="#"><img src="http://placehold.it/310x197&text=Galeria{{galeria}}" alt=""></a></li>
                        {% endfor %}
                    {%else %}
                        {% for galeria in servicios.galerias %}
                        <li>
                            {% if galeria.isImagen == true %}
                            <a href="{{galeria.webPath}}" class="fancybox image-wrap" >
                                <img src="{{galeria.webPath  | apply_filter('publicaciones')}}" alt="{{galeria.titulo}}">
                            {% else %}
                            <a href="{{galeria.archivo}}" class="fancybox-media iframe video-wrap">
                                <img src="{{galeria.thumbnailWebPath}}" alt="{{galeria.titulo}}">
                            {% endif %}   
                            <span class="lupa"></span>   
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <span id="slider-prev"></span>
                <span id="slider-next"></span>
            </div>
            {% if servicios is null %}    
            <h3>Tipo de logistica</h3>
            <div class="logistica">
                <h4>Viaje Sencillo:</h4>
                <p>Transporte desde el punto de origen al destino final del viaje.</p>
            </div>            
            <div class="logistica">
                <h4>Viaje Redondo:</h4>
                <p>Transporte de ida y vuelta desde el mismo lugar de origen.</p>
            </div>
            <div class="logistica">
                <h4>Viaje Completo:</h4>
                <p>Transporte de ida y vuelta, mas la compañia del autobús durante el viaje para la movilidad en el destino.</p>
            </div>
            <div class="logistica">
                <h4>Por hora o por día:</h4>
                <p>Renta de autobús por un pediodo de tiempo específico.</p>
            </div>
            <h3>Motivo del viaje</h3>
            <ul>
                <li>Circuitos Turísticos</li>
                <li>Congresos y convenciones</li>
                <li>Eventos Sociales</li>
                <li>Planeación de Viajes</li>
                <li>Transportación Empresarial</li>
                <li>Translados</li>
                <li>Viajes familiares y recreativos</li>
                <li>Viajes Escolares</li>
                <li>Viajes Receptivos (Nacionales y Extranjeros)</li>
            </ul>
            <img src="{{asset('images/keyarts/servicios/servicios.jpg')}}" alt="Turismo Plus MG"/>
            {% else %}
                {{ servicios.contenido(locale)|raw }}
                <img src="{{servicios.webPath}}" alt="Turismo Plus MG"/>
            {% endif %}    
            
        </article>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/main.js')}}"></script>
<script src="{{asset('js/jquery.bxslider.js')}}"></script>
<script>
    $(document).ready(function(){
      $('.galeriaContenedor').bxSlider({
          slideWidth: 310,
          minSlides: 2,
          maxSlides: 3,
          slideMargin: 7,
          pager: false,
          nextSelector: '#slider-next',
          prevSelector: '#slider-prev',
          nextText: '',
          prevText: ''
      });
    });
</script>
<script src="{{asset('js/fancybox/jquery.fancybox.pack.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
<script>
    $(document).ready(function() {
        $("a.fancybox").fancybox();
                
        $("a.fancybox-media").fancybox({
            helpers : {
                media: true
            },
            youtube : {
                autoplay: 0
            }
        });
    });
</script>
{% endblock %}
