{% extends 'FrontendBundle::layout.html.twig' %}

{% block extra_header %}
    <div class="container-extra-header" style="height:90px;">
    </div>
{% endblock %}

{% block contenido %}
        <article class="destinos-eventos-tours">
            <h2>destinos</h2>
            <div class="destinos row">
                {% for number in range(1,3) %}
                    <div class="destino col-lg-4">
                        <figure>
                            <img src="http://placehold.it/508x256&text=Destino{{number}}" alt="{{"Titulo de la imagen " ~ number }}">
                            <span class="lupa"></span>
                        </figure>
                        <h3>
                            titulo del destino
                        </h3>
                        {% if number < 3 %}
                        <h4>
                            paquete del destino
                        </h4>
                        {% endif%}
                        <p>
                            Descripcion del destino. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, aperiam, reiciendis vitae delectus eius autem saepe odio corporis placeat consequuntur quae asperiores odit nostrum voluptas modi repellendus eligendi ducimus sequi?.
                        </p>
                    </div>
                {% endfor %}
            </div>
            <h2>eventos</h2>
            <div class="eventos row">
                {% for number in range(1,3) %}
                    <div class="evento col-lg-4">
                        <figure>
                            <img src="http://placehold.it/508x256&text=Destino{{number}}" alt="{{"Titulo de la imagen " ~ number }}">
                            <span class="lupa"></span>
                        </figure>
                        <h3>
                            titulo del destino
                        </h3>
                        <h4>
                            paquete del destino
                        </h4>
                        <p>
                            Descripcion del destino. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, aperiam, reiciendis vitae delectus eius autem saepe odio corporis placeat consequuntur quae asperiores odit nostrum voluptas modi repellendus eligendi ducimus sequi?.
                        </p>
                    </div>
                {% endfor %}
            </div>
             <h2>tours</h2>
            <div class="tours row">
                {% for number in range(1,3) %}
                    <div class="tour col-lg-4">
                        <figure>
                            <img src="http://placehold.it/508x256&text=Destino{{number}}" alt="{{"Titulo de la imagen " ~ number }}">
                            <span class="lupa"></span>
                            <span class="precio">$$$$$$</span>
                        </figure>
                        <h3>
                            titulo del destino
                        </h3>
                        {% if number < 3 %}
                        <h4>
                            paquete del destino
                        </h4>
                        {% endif%}
                        <p>
                            Descripcion del destino. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, aperiam, reiciendis vitae delectus eius autem saepe odio corporis placeat consequuntur quae asperiores odit nostrum voluptas modi repellendus eligendi ducimus sequi?.
                        </p>
                    </div>
                {% endfor %}
            </div>
           
        </article>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/main.js')}}"></script>
</script>
{% endblock %}

