{% extends '::base.html.twig' %}

{% block title %}Administrador{% endblock %}

{% block stylesheets%}
<!-- Stylesheets -->
<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
<link rel="stylesheet" href="{{asset('css/font-awesome.css')}}">
<link rel="stylesheet" href="{{asset('css/style.css')}}">
<link rel="stylesheet" href="{{asset('css/bootstrap-responsive.html')}}">
<link rel="stylesheet" href="{{asset('css/admin.css')}}">
{% endblock %}

{% block body %}

  {% set route = app.request.get('_route') %}

  {% set usuarios = "" %}
  {% set categorias = "" %}
  {% set publicaciones = "" %}
  {% set galerias = "" %}
  {% set configuraciones = "" %}

  {% if route == "backend_categorias" %}
    {% set categorias = "class=open" %}
  {% elseif route == "backend_usuarios" %}
    {% set usuarios = "class=open" %}
  {% elseif route == "backend_publicaciones" %}
    {% set publicaciones = "class=open" %}
  {% elseif route == "backend_galerias" %}
    {% set galerias = "class=open" %}     
  {% elseif route == "configuraciones" %}
    {% set configuraciones = "class=open" %}       
  {% endif %}
      
<header>
    <div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span>Menu</span>
                </button>
                <a href="#" class="pull-left menubutton hidden-xs">
                    <i class="fa fa-bars"></i>
                </a>
                <!-- Site name for smallar screens -->
                <a href="{{path('backend_homepage')}}" class="navbar-brand">
                    <span class="bold">Dashboard</span>
                </a>
            </div>

            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         

                <!-- Links -->
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown pull-right user-data">            
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <img src="/apple-touch-icon.png" width="25" height="25"/>{{app.user.username|default('anonimo')}} <b class="caret"></b>
                            </a>

                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu">
                                <!--li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                                <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li-->
                                <li>
                                    <a href="{{path('backend_logout')}}">
                                        <i class="fa fa-key"></i> Logout
                                    </a>
                                </li>
                            </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</header>
<!-- Main content starts -->
<div class="content">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-dropdown">
            <a href="#">Navigation</a>
        </div>
        <!-- Search form -->
        <form class="navbar-form" role="search" action="#search" method="post">
            <div class="form-group">
                <input id="buscarItem" name="buscarItem" type="text" class="form-control" placeholder="buscar">
                <button class="btn search-button" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        <!--- Sidebar navigation -->
        <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
        <ul id="nav">
            <!-- Main menu with font awesome icon -->
            <li>
                <a href="{{path('paginas')}}">
                    <i class="fa fa-sitemap"></i> <span>Paginas</span>
                </a>
            </li>
            <li class="has_sub">
                <a href="#">
                    <i class="fa fa-list"></i> 
                    <span>Publicaciones</span> 
                    <span class="pull-right">
                        <i class="fa fa-chevron-left"></i>
                    </span>
                </a>
                <ul>
                    <li><a href="{{path('publicaciones_categoria',{'slug':'destinos'})}}">Destinos</a></li>
                    <li><a href="{{path('publicaciones_categoria',{'slug':'eventos'})}}">Eventos</a></li>
                    <li><a href="{{path('publicaciones_categoria',{'slug':'tours'})}}">Tours</a></li>
                </ul>
            </li>
            <li>
                <a href="{{path('autobuses')}}">
                    <i class="fa fa-dashboard"></i> <span>Autobuses</span>
                </a>
            </li>
            <li>
                <a href="{{path('experiencias')}}">
                    <i class="fa fa-comment"></i> <span>Experiencias</span>
                </a>
            </li>
            <li>
                <a href="{{path('users_newsletter')}}">
                    <i class="fa fa-users"></i> <span>Usuarios Newsletter</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a {{usuarios}} href="{{path('users')}}">
                    <i class="fa fa-user"></i> <span>Usuarios</span>
                </a>
            </li>
            <li>
                <a {{configuraciones}} href="{{path('configuraciones')}}">
                    <i class="fa fa-gears"></i> <span>Configuraciones</span>
                </a>
            </li>
            {% endif %}    
        </ul>
    </div>
<!-- Sidebar ends -->
	{% block mainbar %} {% endblock %}
</div>
<!-- Content ends -->
<!-- Footer starts -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <!-- Copyright info -->
                <!--p class="copy">Copyright &copy; 2012 | <a href="#">Your Site</a> </p-->
                <p></p>
            </div>
        </div>
    </div>
</footer> 	
<!-- Footer ends -->
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
<div class="loader"></div>
{% endblock %}

{% block javascripts %}
    <!-- JS -->
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/underscore-min.js')}}"></script>
    <script src="{{asset('js/backbone-min.js')}}"></script>
    <script src="{{asset('js/swig.js')}}"></script>
    <script src="{{asset('js/bootstrap.js')}}"></script>
    

{% endblock %}